{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<form method="post" class="form" action="{{ url_for('post') }}">
    <h3 class="form-heading">Input some text <i class="fa fa-home pull-right"></i></a></h3>
    {{ form.input(class_='form-control first-input', placeholder=form.input.label.text, required = true, autofocus = true) }}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
</form>

{% endblock %}
