{% extends 'layouts/main.html' %}
{% block title %}Post proccessed input{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Post page</h1>
</div>
<p class="lead">Here's what you entered:</p>
<p>
{{ data }}
</p>

{% endblock %}
