{% extends 'layouts/form.html' %}
{% block title %}Input some text{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Input some text <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.input(class_ = 'form-control first-input', placeholder = form.input.label.text, required = true, autofocus = true) }}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"  disabled>
  </form>
{% endblock %}
